<form action="/prehistoric_creatures" method="post"> 
    <!-- METHOD is the HTTP VERB and ACTION is telling what route to send it to.-->
    <!-- The Key gets sent as the name attr of the input tag -->
    <!-- We need to coordinate the HTML tags with how it will be sent as an OBJ -->
    <label for="animalName">Type</label>
    <input type="text" id="animalName" name="type">
    <label for="animalType">Image Url</label>
    <input type="text" id="animalType" name="img_url">

    <input type="submit" value="Add an Animal">
</form>